---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Aatu Leppä">
    <nav>
      <a href="/">Home</a>
      <div></div>
      <a href="/scraps">Small projects and scraps</a>
      <div></div>
      <a href="/cv">CV</a>
      <div></div>
      <a href="/contact" class="active">Contact</a>
    </nav>
	<br>
	<h1>Contact</h1>
    aatu.leppa11@gmail.com
    <br>
    
	
</Layout>
<style>
    .infobox {
        background-color: #313244;
		color: #cdd6f4;
		font-size: 1rem;
		border-radius: 0.75rem;
		padding: 1rem;
		display: block;
    }
    
</style>