---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Aatu Leppä">
    <nav>
      <a href="/">Home</a>
      <div></div>
      <a href="/scraps">Small projects and scraps</a>
      <div></div>
      <a href="/cv" class="active">CV</a>
      <div></div>
      <a href="/contact">Contact</a>
    </nav>
	<br>
	<h1>CV</h1>
    <br>
    <p><a href="https://www.linkedin.com/in/aatu-lepp%C3%A4-502502279/">Link to my LinkedIn</a></p>
    <p><a href="https://github.com/GreyAdept/">Link to my GitHub</a></p>
    <br>
    <p>More coming soon...</p>
    <br>
   
	
</Layout>
<style>
    .infobox {
        background-color: #313244;
		color: #cdd6f4;
		font-size: 1rem;
		border-radius: 0.75rem;
		padding: 1rem;
		display: block;
    }
    
</style>