---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Aatu Leppä">
    <nav>
      <a href="/Portfolio_AatuL">Home</a>
      <div></div>
      <a href="/Portfolio_AatuL/scraps">Small projects and scraps</a>
      <div></div>
      <a href="/Portfolio_AatuL/cv" class="active">CV</a>
      <div></div>
      <a href="/Portfolio_AatuL/contact">Contact</a>
    </nav>
	<br>
	<h1>CV</h1>
    <br>
    <p><a href="https://www.linkedin.com/in/aatu-lepp%C3%A4-502502279/">Link to my LinkedIn</a></p>
    <p><a href="https://github.com/GreyAdept/">Link to my GitHub</a></p>
    <p><a href="https://docs.google.com/document/d/1CdldSTKmBjrC3hGCeOQr9ELVVFJ2ZjyH/edit?usp=sharing&ouid=107392663722403786223&rtpof=true&sd=true">Download my CV</a></p>
    <br>
   
	
</Layout>
<style>
    .infobox {
        background-color: #313244;
		color: #cdd6f4;
		font-size: 1rem;
		border-radius: 0.75rem;
		padding: 1rem;
		display: block;
    }
    
</style>