---
import Layout from "../layouts/Layout.astro"
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
---
<Layout title="Aatu Leppä">
	<nav>
      <a href="/Portfolio_AatuL" class="active">Home</a>
      <div></div>
      <a href="/Portfolio_AatuL/scraps">Small projects and scraps</a>
      <div></div>
      <a href="/Portfolio_AatuL/cv">CV</a>
      <div></div>
      <a href="/Portfolio_AatuL/contact">Contact</a>
    </nav>
	<br>
	<h1>About me</h1>
	<div class="infobox">
		<br>
		<p>Hi! Thank you for checking out my website. I am a junior <span id="hl3">game programmer/designer</span> from Finland.</p>
		<br>
		<p>I am studying games and interactive technologies at <span id="hl1">Turku University of Applied Sciences</span>, and will graduate as a <span id="hl2">Bachelor of Engineering, Information and Communications Technology</span> in spring 2026.</p>
		<br>
		<p>I am strongly inspired to pursue professional game development, as I find the interplay between technology and artistry fascinating. I want to realize that vision by making sure that the carefully crafted virtual worlds 
			function seamlessly. I'm currently open for job!
		</p>
		<br>
		<em>By the way, I built this site from scratch using the Astro framework :)</em>
		<br>
	</div>
	<br>
	<br>
	<h1>Professional skills</h1>
	<div class="infobox2">
		<div class="toc">
  

  <div class="entry">
    <div class="chapter">Unity Engine development</div>
    <div class="page"></div>
  </div>
  <hr>
  <div class="entry">
    <div class="chapter">XR development</div>
    <div class="page"></div>
  </div>
  <hr>
  <div class="entry">
    <div class="chapter">Frontend web development</div>
    <div class="page"></div>
  </div>
  <hr>
  <div class="entry">
    <div class="chapter">Databases</div>
    <div class="page"></div>
  </div>
  <hr>
</div>
	</div>
	<!-- 
	<div class="infobox2">
		<ul>
			<li>Unity Engine development ● ● ● </li>
			<li>Unreal Engine development ●</li>
			<li>3D modelling ● ●</li>
			<li>Shaders ● ●</li>
			<li>Texturing ● ●</li>
			<li>XR development ● ●</li>
			<li>Frontend web development ● ●</li>
			<li>Backend web development ● </li>
			<li>Databases ●</li>
		</ul>
	</div>
	-->
	<br>
	<h1>Languages</h1>
	<!-- 
	<div class="infobox2">
		<ul>
			<li>C#<span class="rightallign">● ● ●</span></li>
			<li>Python ● ● ● </li>
			<li>Javascript ● ●</li>
			<li>C++ ● </li>
			<li>HTML5 ● ●</li>
			<li>CSS3 ●</li>
			<li>SQL ● ●</li>
		</ul>
	</div>
	-->
	<div class="infobox2">
		<div class="toc">
  

  <div class="entry">
    <div class="chapter">C#</div>
    <div class="page">● ● ●</div>
  </div>
  <hr>
  <div class="entry">
    <div class="chapter">Python</div>
    <div class="page">● ●</div>
  </div>
  <hr>
  <div class="entry">
    <div class="chapter">Javascript</div>
    <div class="page">● ●</div>
  </div>
  <hr>
  <div class="entry">
    <div class="chapter">C++</div>
    <div class="page">● </div>
  </div>
</div>
	</div>
<br>
<br>
<h1>Featured projects</h1>
<div class="container">
  <div class="infobox3"><p class="text-center italic">Daybreak</p>
	<a target="https://t-pose-interactive.itch.io/daybreak" href="https://t-pose-interactive.itch.io/daybreak">
    <img src="https://img.itch.zone/aW1hZ2UvMjgwNjk1NC8xNjc5ODU1OS5wbmc=/original/%2BRBIbH.png" alt="Cinque Terre" width="600" height="400">
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">Unity</span>
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">C#</span>
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">Blender</span>
	<br>
	<p>An modernized arcade game.</p><p>Our team took part in Bit1 preliminary with this game.</p><br>
		<p>My contributions:</p>
		<ul>
			<li>Implementing an color changing environment</li>
			<li>Implementing player power-ups</li>
			<li>Logo and few 3D assets for bricks</li>
		</ul>
  </a>
  </div>
  <div class="infobox3"><p class="text-center italic">WIZARDS</p>
	<a target="_blank" href="img_5terre.jpg">
    <img src="https://i.ibb.co/27Y0YQWP/Untitled.png" alt="Cinque Terre" width="600" height="400">
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">Unity</span>
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">C#</span>
	<br>
	<p>A top-down shooter game built on Unity Engine.</p><p>The game was a solo project made in 8 weeks.</p>
	<br>
	<p>Main features:</p>
		<ul>
			<li>All 2D assets drawn from scratch</li>
			<li>Customizable "bullet hell"-style attack patterns</li>
			<li>Customizable enemy wave spawner</li>
		</ul>
  </a>
  </div>
  <div class="infobox3"><p class="text-center italic">Pike Game</p>
	<a target="_blank" href="img_5terre.jpg">
    <img src="https://i.ibb.co/zTHZ3kk3/pike.png" alt="Cinque Terre" width="600" height="400">
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">Unity</span>
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">C#</span>
	<br>
	<p>A nature-themed learning/strategy mobile game made for an Capstone course in 16 weeks.</p><p>The game was chosen as a finalist in "ICT-showroom" event at TUAS.</p>
	<br>
	<p>My contributions:</p>
		<ul>
			<li>Grid-based logic for the game board</li>
			<li>Calculating player score</li>
			<li>Optimizing the game for mobile devices</li>
			<li>In-game "notebook" style menu</li>
			<li>Implementing player tools and actions</li>
			<li>Realistic water shader</li>
		</ul>
  </a>
  </div>
  <div class="infobox3"><p class="text-center italic">Prehistoric fish tank</p>
	<a target="_blank" href="img_5terre.jpg">
    <img src="https://i.ibb.co/zTTtWZ81/fisk.png" alt="Cinque Terre" width="600" height="400">
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">Unity</span>
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">C#</span>
	<span class="bg-[#1e1e2e] text-[#cdd6f4] text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-[#1e1e2e] dark:text-[#cdd6f4]">Blender</span>
	<br>
	<p>A big-screen ambient simulation of ancient ocean life. Relaxing yet mysterious. Built on Unity Engine using FMOD for sounds.</p>
	<br>
	<p>My contributions:</p>
		<ul>
			<li>Movement logic for marine creatures</li>
			<li>Modelling seafloor 3D assets</li>
		</ul>
  </a>
  </div>
  
  
</div>

<!-- 
<div class="swiper">
  
  <div class="swiper-wrapper">
    
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  
  <div class="swiper-scrollbar"></div>
</div>	
-->




	
</Layout>
<style>
	.container {
		display: grid;
		grid-template-columns: auto auto;
		padding: 10px;
		column-gap: 1rem;
		row-gap: 1rem;
	}
	.container > div {
		background-color: #313244;
		border: 1px solid #cba6f7;
		padding: 10px;
		text-align: center;
	}
	
	.infobox {
        background-color: #313244;
		color: #cdd6f4;
		font-size: 1rem;
		border-radius: 0.75rem;
		padding: 1rem;
		display: block;
    }

	.rightallign{
		text-align: right;
		background-color: cyan;
		display: table-cell;
	}

	img{
		align-self: auto;
	}

	.infobox2{
        background-color: #313244;
		color: #cdd6f4;
		font-size: 1rem;
		border-radius: 0.75rem;
		padding: 1rem;
		display: block;
		line-height: 200%;
    }

	.infobox3{
		background-color: #313244;
		color: #cdd6f4;
		font-size: 1rem;
		border-radius: 0.75rem;
		padding: 1rem;
		display: block;
		transition: all 0.2s;
		
	}

	.infobox3:hover
	{
		font-size: 1.1rem;
	}

	#hl1 {
		color: #f9e2af;
	}

	#hl2 {
		color: #94e2d5;
		font-style: italic;
	}

	#hl3 {
		color: #f38ba8;
	}

	h1 {
      font-size: 2rem;
      font-family: "tomorrow";
      color: white;
    }

	li {
	list-style: disc;
	list-style-position: inside;
 	}

	

	.entry {
  	display: grid;
  	grid-template-columns: auto max-content;
  	grid-template-areas: "chapter page";
  	align-items: end;
  	gap: 0 .25rem; /* customize the gap to your needs */
	}

	.chapter {
  	grid-area: chapter;
  	position: relative;
  	overflow: hidden;
	}

	.chapter::after {
  	position: absolute;
  	padding-left: .25ch; /* customise the padding to your needs */
  	/* adjust the amount of dots to your needs */
  	content: ""
  	text-align: right; /* optional, can be removed */
	}

	.page {
  	grid-area: page;
	}

	.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
	







</style>
<script>
	import Swiper from 'swiper';
	import { Navigation, Pagination, HashNavigation } from 'swiper/modules';
	
	const swiper = new Swiper('.swiper', {
	//swiper modules
	modules: [Navigation, Pagination, HashNavigation],
	// Optional parameters
	direction: 'horizontal',
	loop: true,
	autoHeight: false,
    speed: 600,
	spaceBetween: 40,
	hashNavigation: {
		watchState: true,
	},

	// If we need pagination
	pagination: {
	  el: '.swiper-pagination',
	  type: 'fraction',
	  clickable: true,
	},
  
	// Navigation arrows
	navigation: {
	  nextEl: '.swiper-button-next',
	  prevEl: '.swiper-button-prev',
	},
  	});
</script>


