---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Aatu Leppä">
    <nav>
      <a href="/Portfolio_AatuL/">Home</a>
      <div></div>
      <a href="/Portfolio_AatuL/scraps" class="active">Small projects and scraps</a>
      <div></div>
      <a href="/Portfolio_AatuL/cv">CV</a>
      <div></div>
      <a href="/Portfolio_AatuL/contact">Contact</a>
    </nav>
	<br>
	<h1>Miscellaneous work</h1>
    <br>
    <h1>Scraps</h1>
    <br>
    <p>Note: Page under construction.</p>
	
</Layout>
<style>
    .infobox {
        background-color: #313244;
		color: #cdd6f4;
		font-size: 1rem;
		border-radius: 0.75rem;
		padding: 1rem;
		display: block;
    }
    
</style>